# Dependências
node_modules/

# Build
dist/

# Logs
*.log
npm-debug.log*

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Cache do TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

